MusicWebService/META-INF/MusicService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MusicDefinitions" targetNamespace="urn:Music" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:music="urn:Music" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="urn:Music" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	     <xsd:complexType name="trackDetail">
		<xsd:sequence>
			<xsd:element name="discNumber" type="xsd:string"/>
			<xsd:element name="trackNumber" type="xsd:string"/>
			<xsd:element name="composerName" type="xsd:string"/>
			<xsd:element name="workName" type="xsd:string"/>
			<xsd:element name="titleName" type="xsd:string"/>
		</xsd:sequence>
	     </xsd:complexType>

	     <xsd:complexType name="trackDetails">
	     	<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="tracklist" type="music:trackDetail"/>
		</xsd:sequence>
	     </xsd:complexType>

	     <xsd:element name="artist" type="xsd:string"/>
	     <xsd:element name="disc" type="xsd:string"/>
	     <xsd:element name="track" type="music:trackDetail"/>
	     <xsd:element name="multiTracks" type="music:trackDetails"/>
	     <xsd:element name="serviceError" type="xsd:string"/>

	    </xsd:schema>
  </types>
  <message name="artistResponse">
    <part name="response" element="music:multiTracks">
    </part>
  </message>
  <message name="discResponse">
    <part name="response" element="music:multiTracks">
    </part>
  </message>
  <message name="artistRequest">
    <part name="request" element="music:artist">
    </part>
  </message>
  <message name="errorFault">
    <part name="errorMessage" element="music:serviceError">
    </part>
  </message>
  <message name="discRequest">
    <part name="request" element="music:disc">
    </part>
  </message>
  <portType name="musicPort">
    <operation name="getByArtist">
      <input message="music:artistRequest">
    </input>
      <output message="music:artistResponse">
    </output>
      <fault name="serviceError" message="music:errorFault">
    </fault>
    </operation>
    <operation name="getByDisc">
      <input message="music:discRequest">
    </input>
      <output message="music:discResponse">
    </output>
      <fault name="serviceError" message="music:errorFault">
    </fault>
    </operation>
  </portType>
  <binding name="musicBinding" type="music:musicPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getByArtist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </output>
      <fault name="serviceError">
    <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music" use="literal"/>
      </fault>
    </operation>
    <operation name="getByDisc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </output>
      <fault name="serviceError">
    <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Music" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MusicService">
    <port name="MusicAccess" binding="music:musicBinding">
      <soap:address location="http://127.0.0.1:8080/axis2/services/MusicService"/>
    </port>
  </service>
</definitions>
